## Apend all the R.R  file into one file

In [1]:
import os
import shutil
import pandas as pd

In [22]:
new_Dataframe = []

path = r"C:\Users\Ratan Kumar Jha\Desktop\BILLING_REQUEST_AND_REPLY\Billing_request\output_request\AUG_DATA_NEW"
for file in os.listdir(path):
    print(file)
    if file.endswith(".csv"):
        new_file_path = os.path.join(path,file)
        data = pd.read_csv(new_file_path)
        
        new_Dataframe.append(data)

    
# Concatenate all the DataFrames in the list into a single DataFrame
final_dataframe = pd.concat(new_Dataframe, ignore_index=True)

# Display or save the final concatenated DataFrame
final_dataframe.head()
# final_dataframe.to_csv("path_to_save_final_csv.csv", index=False)

Aug_request_Data_1.csv
Aug_request_Data_10.csv
Aug_request_Data_2.csv
Aug_request_Data_3.csv
Aug_request_Data_4.csv
Aug_request_Data_5.csv
Aug_request_Data_6.csv
Aug_request_Data_7.csv
Aug_request_Data_8.csv
Aug_request_Data_9.csv

,Unnamed: 0,Consumer_No,Installation_Number,Meter_Number,Utility_ID,Area,Division_ID,Sub_Division_ID,MRU,Phase,Category,System_Date,MR_Schedule_Date
0,0,101886894,5002820974,00085410,SBPD,R,ABE,ABEC,ABEC66BI,3.0,NDS-IID(B),2024-08-21 07:23:03,2024-08-01 00:00:00
1,1,101886894,5002820974,00085410,SBPD,R,ABE,ABEC,ABEC66BI,3.0,NDS-IID(B),2024-08-21 07:23:03,2024-08-01 00:00:00
2,2,100000697,5000000696,1033471,SBPD,R,BAA,BAAB,BAAB7038,1.0,DS-IID,2024-08-21 00:01:18,2024-08-01 00:00:00
3,3,401834837,5003235247,15208951,NBPD,R,FBD,FBDA,FBDASMAA,1.0,DS-IID,2024-08-21 11:20:49,2024-08-01 00:00:00
4,4,401834837,5003235247,15208951,NBPD,R,FBD,FBDA,FBDASMAA,1.0,DS-IID,2024-08-21 11:20:49,2024-08-01 00:00:00

In [7]:
final_dataframe = final_dataframe.drop('Unnamed: 0', axis=1)

In [9]:
final_dataframe.to_csv(r"C:\Users\Ratan Kumar Jha\Desktop\BILLING_REQUEST_AND_REPLY\Billing_request\output_request\AUG_DATA_NEW\final_Data_request.csv")

In [17]:
data_1 = pd.read_csv(r"C:\Users\Ratan Kumar Jha\Desktop\BILLING_REQUEST_AND_REPLY\Reply\output_reply\AUG_NEW_DATA\AUG_REPLY_DATA_1.CSV")
data_1.head()

,Unnamed: 0,File_name,Consumer_ID,Meter_Number,Installation_Number,Area_Type,Max_Demand_KW,Max_Demand_KVA,Power_Fact,Import_KWH,...,Export_KVAH,Net_Metering,TOD,Read_Date,Meter_Note,MRU,MR_Schedule_Date,Power_On_Duration,PI_response_time,datetime_column
0,0,20240821,101861007,GL8548285,5002816030,R,1.647,1.657,0.97,1651.0,...,0,N,N,2024-08-01,OK,CACANVN5,2024-08-01,655.60,20240821-071949,2024-08-21 07:19:49.000
1,1,20240821,101861007,GL8548285,5002816030,R,1.647,1.657,0.97,1651.0,...,0,N,N,2024-08-01,OK,CACANVN5,2024-08-01,655.60,20240821-071955,2024-08-21 07:19:55.000
2,2,20240821,108342445,GL8548287,5003656078,R,0.727,0.730,0.98,320.0,...,0,N,N,2024-08-01,OK,CACANVN7,2024-08-01,505.42,20240821-134934,2024-08-21 13:49:34.000
3,3,20240821,108342445,GL8548287,5003656078,R,0.727,0.730,0.98,320.0,...,0,N,N,2024-08-01,OK,CACANVN7,2024-08-01,505.42,20240821-134934,2024-08-21 13:49:34.000
4,4,20240821,108539769,GL8548288,5003786277,R,2.920,2.926,0.92,1560.0,...,0,N,N,2024-08-01,OK,AABBSMA1,2024-08-01,733.92,20240821-153524,2024-08-21 15:35:24.000

# for billing reply data

In [3]:
import pandas as pd
import os

new_Dataframe = []

path = r"C:\Users\Ratan Kumar Jha\Desktop\BILLING_REQUEST_AND_REPLY\Reply\output_reply\SEPT REPLY"
for file in os.listdir(path):
    print(file)
    if file.endswith(".csv"):
        new_file_path = os.path.join(path,file)
        data = pd.read_csv(new_file_path)
        
        new_Dataframe.append(data)

    
# Concatenate all the DataFrames in the list into a single DataFrame
final_dataframe = pd.concat(new_Dataframe, ignore_index=True)

# Display or save the final concatenated DataFrame
final_dataframe.head()
# final_dataframe.to_csv("path_to_save_final_csv.csv", index=False)

SEP_REPLY_DATA_1.CSV
SEP_REPLY_DATA_10.CSV
SEP_REPLY_DATA_11.CSV
SEP_REPLY_DATA_12.CSV
SEP_REPLY_DATA_13.CSV
SEP_REPLY_DATA_14.CSV
SEP_REPLY_DATA_15.CSV
SEP_REPLY_DATA_16.CSV
SEP_REPLY_DATA_17.CSV
SEP_REPLY_DATA_18.CSV
SEP_REPLY_DATA_19.CSV
SEP_REPLY_DATA_2.CSV
SEP_REPLY_DATA_3.CSV
SEP_REPLY_DATA_4.CSV
SEP_REPLY_DATA_5.CSV
SEP_REPLY_DATA_6.CSV
SEP_REPLY_DATA_7.CSV
SEP_REPLY_DATA_8.CSV
SEP_REPLY_DATA_9.CSV

ValueError: No objects to concatenate

: